@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header {
  color: #000000;
  background-color: #ffffff;
}
.header-logo {
  display: block;
  margin-right: 30px;
}
.header-container {
  width: 1060px;
  margin: 0 auto;
}
.navigation {
  display: flex;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 450px;
  display: flex;
  align-items: center;
}
.navigation-user {
  width: 300px;
  margin-left: auto;
  justify-content: end;
}
.navigation-item a {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px 17px;
  flex-wrap: wrap;
}
.navigation-user a {
  min-width: 18px;
  min-height: 18px;
}
.navigation-item .navigation-bottom {
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
}

/* Header */

/* Main */

.main-index {
  flex-grow: 1;
}

/* Main */

/* Welcome */

.welcome img {
  display: block;
  margin: 0 auto;
}

.welcome {
  background-color: white;
  color: black;
  background-image: url(/images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
}
.welcome img:nth-of-type(1) {
  margin-bottom: 11px;
}
.welcome img:nth-of-type(2) {
  margin-bottom: 53px;
}
.welcome img:nth-of-type(3) {
  margin-bottom: 26px;
}
.picture {
  background-image: url(/images/Vector.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 57px;
}

/* Welcome */

/* Description */

.description {
  color: #000000;
  background-color: #ffffff;
  padding-top: 63px;
}
.description p {
  margin: 0;
}
.description p:first-of-type {
  color: inherit;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.description p:last-of-type {
  color: #333333;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 80px;
}

/* Description */

/* Advantages */

.advantages {
  background-color: white;
  color: black;
}
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advantages-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 97px;
  margin-bottom: 30px;
}
.advantages-item span,
.advantages-item p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  display: block;
}
.advantages-item p {
  margin-top: 30px;
  margin-bottom: 108px;
}
.advantages-item img {
  width: 100%;
}
.advantages-list li:nth-child(1),
.advantages-list li:nth-child(7) {
  background: #83b3d3;
  width: 400px;
}
.advantages-desc h3,
.advantages-desc span,
.advantages-desc p {
  color: #ffffff;
}
.advantages-list li:nth-child(3),
.advantages-list li:nth-child(5),
.advantages-list li:nth-child(8),
.advantages-list li:nth-child(10) {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}
.advantages-list li:nth-child(4) {
  background: #ffffff;
  width: 400px;
}
.advantages-list li:nth-child(9) {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

/* Advantages */

/* Search  */
.search h2,
.search p,
.subscription h2,
.subscription p {
  margin: 0;
}
.search {
  background-color: #ffffff;
  color: black;
  padding-top: 91px;
  padding-bottom: 101px;
}
.search h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 29px;
}
.search p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 64px;
}
.search a {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: #756257;
  padding: 15px 129px;
}
.search div {
  text-align: center;
}

/* Search  */

/* Subscription */

.subscription {
  background-color: black;
  color: white;
  background-image: url(/images/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}
.subscription h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 29px;
}
.subscription p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 46px;
}
.subscription-field {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
}
.subscription-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
}
.subscription form {
  text-align: center;
}
/* Subscription */

/* Footer */

.page-footer {
  background-color: #ffffff;
  color: black;
}
.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}
.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.social-item a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #000000;
  min-width: 20px;
  min-height: 18px;
  padding: 15px;
}
.social-item .zero {
  padding-left: 0;
}
.phone {
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
/* Footer */

/* Стили каталога */

/* Filters */

.filters-container {
  width: 1060px;
  margin: 0 auto;
}
.catalog-filters {
  display: flex;
}
.filters {
  background-color: black;
  color: white;
  background-image: url(/images/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
}
.filters h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}
.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.breadcrumbs-item a {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  min-width: 12px;
  min-height: 12px;
  display: block;
  margin-right: 26px;
}
.filters-group legend {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.filters-item label,
.filters-label {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.catalog-filters button:first-of-type {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
}
.catalog-filters button:last-of-type {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: transparent;
  border: 0;
  color: #ffffff;
}

/* Filters */

/* Hotels */

.hotels {
  background-color: #ffffff;
  color: black;
}
.hotels-container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 44px;
}
.hotels-container fieldset {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-bottom: 53px;
}
.sorting-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
}
.sorting-item {
  min-width: 48px;
  max-width: 48px;
  margin-right: 8px;
}
.sorting-item:last-child {
  margin-right: 0;
}
.hotels-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
.hotels-item {
  width: 340px;
}
.hotels p:only-of-type {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: 192px;
}
.select-control {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotels-item a {
  text-decoration: none;
}
.hotels-link h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.hotels-item p {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotels-item b {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.hotels-item a:nth-of-type(2) {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
}
.hotels-item a:nth-of-type(3) {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
}
.hotels-container .more {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.download-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: #83b3d3;
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.pagination-item a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  padding: 15px 22px;
}
.pagination-item {
  margin-right: 8px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item .pagination-current {
  color: #000000;
  background: #f2f2f2;
}
.sorting-type label,
.sorting-type select {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
/* Hotels */

/* Subscription-catalog */

.subscription-catalog {
  background-color: #ffffff;
  color: black;
  padding-top: 73px;
  padding-bottom: 140px;
}
.subscription-catalog h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 46px;
}
.subscription-catalog p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 46px;
}
.subscription-catalog form {
  text-align: center;
}
/* Subscription-catalog */
